.blog-banner--bak-container
  img(src="img/blog-banner.jpg", alt="").home-banner__img
  section.ed-container
    .ed-item.s-100.l-60.to-center
      .hola-banner__data
        h1 Dev4life
        span Blog
