.hola-banner--bak-container
  img(src="img/home-banner.jpg", alt="").home-banner__img
  section.ed-container.holaBanner
    .ed-item.s-100.l-60.to-center
      .hola-banner__data
        img.to-center(src="img/profile.jpg", alt="" width="150px")
        h1 Desarrollador web independiente
        span  Efra Rz
