.home-projects--back-container
  section.ed-container
    .ed-item.s-100.main-center
      h1.section--title Proyectos
    //Proyecto
    .ed-item.s-100.m-50.l-1-3
      .home-projects--single-project.ed-container
        .ed-item.s-100.no-padding
          img(src='http://via.placeholder.com/800x500', alt='')
        h1.ed-item.s-50.cross-center.main-start Título
        a.ed-item.s-50.cross-center.main-end(href='#') Link
    //Proyecto
    .ed-item.s-100.m-50.l-1-3
      .home-projects--single-project.ed-container
        .ed-item.s-100.no-padding
          img(src='http://via.placeholder.com/800x500', alt='')
        h1.ed-item.s-50.cross-center.main-start Título
        a.ed-item.s-50.cross-center.main-end(href='#') Link
    //Proyecto
    .ed-item.s-100.m-50.l-1-3
      .home-projects--single-project.ed-container
        .ed-item.s-100.no-padding
          img(src='http://via.placeholder.com/800x500', alt='')
        h1.ed-item.s-50.cross-center.main-start Título
        a.ed-item.s-50.cross-center.main-end(href='#') Link
    //Proyecto
    .ed-item.s-100.m-50.l-1-3
      .home-projects--single-project.ed-container
        .ed-item.s-100.no-padding
          img(src='http://via.placeholder.com/800x500', alt='')
        h1.ed-item.s-50.cross-center.main-start Título
        a.ed-item.s-50.cross-center.main-end(href='#') Link
    //Proyecto
    .ed-item.s-100.m-50.l-1-3
      .home-projects--single-project.ed-container
        .ed-item.s-100.no-padding
          img(src='http://via.placeholder.com/800x500', alt='')
        h1.ed-item.s-50.cross-center.main-start Título
        a.ed-item.s-50.cross-center.main-end(href='#') Link
    //Proyecto
    .ed-item.s-100.m-50.l-1-3
      .home-projects--single-project.ed-container
        .ed-item.s-100.no-padding
          img(src='http://via.placeholder.com/800x500', alt='')
        h1.ed-item.s-50.cross-center.main-start Título
        a.ed-item.s-50.cross-center.main-end(href='#') Linkkk
