.home-services--bak-container
  section.ed-container.home-services
    .ed-item.s-100.main-center
      h1.section--title Servicios
    .ed-item.m-50.l-25
      .home-services--single-service
        a(href='#')
          img.home-services--img(src='img/homeServicios__1.jpg', alt='')
        .home-services--single-service__info
          h2: a(href="#").homeServices__title Landing Page
          p
            | Digitaliza tu empresa con un sitio web personalizado. Una landing page es una excelente opción si lo que buscas es emprender tu negocio y ...
          a(href='#').home-services__link Ver a detalle
    .ed-item.m-50.l-25
      .home-services--single-service
        a(href='#')
          img.home-services--img(src='img/homeServicios__2.jpg', alt='')
        .home-services--single-service__info
          h2: a(href="#").homeServices__title Web informativa
          p
            | Una detallada presentación de tu empresa convertirá tu web en una potente herramienta de ventas. Una web informativa te ayudará a brindar ...
          a(href='#').home-services__link Ver a detalle
    .ed-item.m-50.l-25
      .home-services--single-service
        a(href='#')
          img.home-services--img(src='img/homeServicios__3.jpg', alt='')
        .home-services--single-service__info
          h2: a(href="#").homeServices__title Web corporativa dinámica
          p
            | Una robusta opción si tu sitio web necesita estar en constante actualización. Recuerda que tener un sitio siempre actualizado ...
          a(href='#').home-services__link Ver a detalle
    .ed-item.m-50.l-25
      .home-services--single-service
        a(href='#')
          img.home-services--img(src='img/homeServicios__4.jpg', alt='')
        .home-services--single-service__info
          h2: a(href="#").homeServices__title Catálogo en línea
          p
            | Comparte tu catálogo de productos para facilitar el proceso de cotización a tus clientes. Con una página auto-administrable podrás ...
          a(href='#').home-services__link Ver a detalle
