.home-projects--back-container
  section.ed-container
    .ed-item.s-100.main-center
      h1.section--title Proyectos
        .line-left
    //Proyecto
    .ed-item.s-100.m-50.l-1-3
      .home-projects--single-project.ed-container
        .ed-item.s-100.no-padding
          a(href="http://senssthetic.com" target="_blank"): img(src='img/project-senssthetic.jpg', alt='')
        .ed-item.s-100
          h2 Senssthetic
        .ed-item.s-100
          a(href="http://senssthetic.com" target="_blank").single-project__link Ver proyecto
    //Proyecto
    .ed-item.s-100.m-50.l-1-3
      .home-projects--single-project.ed-container
        .ed-item.s-100.no-padding
          a(href="http://www.diamondstone.com.mx/" target="_blank"): img(src='img/project-diamondstone.jpg', alt='')
        .ed-item.s-100
          h2 Diamond Stone
        .ed-item.s-100
          a(href="http://www.diamondstone.com.mx/" target="_blank").single-project__link Ver proyecto
    //Proyecto
    .ed-item.s-100.m-50.l-1-3
      .home-projects--single-project.ed-container
        .ed-item.s-100.no-padding
          a(href="http://efra-rz.com/demo-rh/" target="_blank"): img(src='img/project-arxav.jpg', alt='')
        .ed-item.s-100
          h2 Arxav
        .ed-item.s-100
          a(href="http://efra-rz.com/demo-rh/" target="_blank").single-project__link Ver proyecto
    //Proyecto
    .ed-item.s-100.m-50.l-1-3
      .home-projects--single-project.ed-container
        .ed-item.s-100.no-padding
          a(href="http://sanimack.com" target="_blank"): img(src='img/project-sanimack.jpg', alt='')
        .ed-item.s-100
          h2 Sanimack
        .ed-item.s-100
          a(href="http://sanimack.com" target="_blank").single-project__link Ver proyecto
    //Proyecto
    .ed-item.s-100.m-50.l-1-3
      .home-projects--single-project.ed-container
        .ed-item.s-100.no-padding
          a(href="http://cirugiamonterrey.mx" target="_blank"): img(src='img/project-cirugiamty.jpg', alt='')
        .ed-item.s-100
          h2 Cirugia Monterrey
        .ed-item.s-100
          a(href="http://cirugiamonterrey.mx" target="_blank").single-project__link Ver proyecto
    //Proyecto
    .ed-item.s-100.m-50.l-1-3
      .home-projects--single-project.ed-container
        .ed-item.s-100.no-padding
          a(href="http://gensteel.com.mx" target="_blank"): img(src='img/project-gensteel.jpg', alt='')
        .ed-item.s-100
          h2 Gensteel
        .ed-item.s-100
          a(href="http://gensteel.com.mx" target="_blank").single-project__link Ver proyecto
