.home-services--bak-container
  section.ed-container.home-services
    .ed-item.s-100.main-center
      h1.section--title Servicios
    .ed-item.m-50.l-25
      .home-services--single-service
        a(href='#')
          img.home-services--img(src='http://via.placeholder.com/800x500', alt='')
        .home-services--single-service__info
          h2 Servicio 1
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem eaque error enim dolorum doloremque excepturi qui tempora! Sint quia, necessitatibus, voluptatibus dolorum animi illo neque, adipisci, ipsa praesentium architecto sapiente.
          div
            a(href='#') Ver a detalle
    .ed-item.m-50.l-25
      .home-services--single-service
        a(href='#')
          img.home-services--img(src='http://via.placeholder.com/800x500', alt='')
        .home-services--single-service__info
          h2 Servicio 1
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem eaque error enim dolorum doloremque excepturi qui tempora! Sint quia, necessitatibus, voluptatibus dolorum animi illo neque, adipisci, ipsa praesentium architecto sapiente.
          div
            a(href='#') Ver a detalle
    .ed-item.m-50.l-25
      .home-services--single-service
        a(href='#')
          img.home-services--img(src='http://via.placeholder.com/800x500', alt='')
        .home-services--single-service__info
          h2 Servicio 1
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem eaque error enim dolorum doloremque excepturi qui tempora! Sint quia, necessitatibus, voluptatibus dolorum animi illo neque, adipisci, ipsa praesentium architecto sapiente.
          div
            a(href='#') Ver a detalle
    .ed-item.m-50.l-25
      .home-services--single-service
        a(href='#')
          img.home-services--img(src='http://via.placeholder.com/800x500', alt='')
        .home-services--single-service__info
          h2 Servicio 1
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem eaque error enim dolorum doloremque excepturi qui tempora! Sint quia, necessitatibus, voluptatibus dolorum animi illo neque, adipisci, ipsa praesentium architecto sapiente.
          div
            a(href='#') Ver a detalle
