.home-banner--bak-container
  img(src="img/home-banner3.jpg", alt="").home-banner__img
  section.ed-container.home-banner
    .ed-item.s-100.l-60.to-center
      .home-banner__data
        h1 Programación y Diseño Web Independiente
