.home-blog--bak-container
  img(src="img/home-banner.jpg", alt="").home-banner__img
  section.ed-container
    .ed-item.s-100.main-center.home-banner__data
      h1.section--title Blog
    .ed-item.s-100
      .ed-container.home-main-blog-card.home-banner__data
        .ed-item.s-100.m-50.l-1-3.no-padding
          img(src='http://via.placeholder.com/600', alt='')
        .ed-item.s-100.m-50.l-2-3
          h2 title
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium vel animi est quia hic recusandae nobis. Officia velit nam saepe, dicta minima, eius, quis obcaecati itaque repellendus, inventore sequi soluta?
          a(href='#') Ver más
          a(href='#') Blog
