.home-blog--bak-container
  img(src="img/home-banner.jpg", alt="").home-banner__img
  section.ed-container
    .ed-item.s-100.main-center.home-banner__data
      h1.section--title Blog
    .ed-container.ed-item.s-100.home-main-blog-card
      .ed-item.m-100.l-1-3.no-padding
        img(src='img/thumb-blog.jpg', alt='')
      .ed-item.m-100.l-2-3
        h2 Primeros pasos con git
        p
          | Git es la tecnología de control de versiones desarrollada por Linus Torvalds. Comenta Torvalds que el objetivo principal git era el dar soporte a su primer gran proyecto la manutención del kernel "Linux", sin embargo hoy en día ya con mas de 20 años de su desarrollo esta herramienta parece estar más viva que nunca, teniendo un auge para poder viajar en el tiempo, crear universos alternos y gestionar nuestros archivos y proyectos.
        a(href='post-primeros-pasos-con-git.html').mainBlog__link Seguir leyendo
