//- Establecemos variables generales
-pageTitle = 'Nombre de tu p치gina'
-empresaTitle = 'efra-rz.com'
-pageDescription = 'Descipci칩n del Sitio'
//- Variables openGraph
-ogSiteName = 'Efra Rz'
-ogType = 'website'
-ogTitle = 'Efra Rz - Programador web en Monterrey'
-ogDescription = 'Programaci칩n y desarrollo de p치ginas de internet para PyME.'
-ogImage = 'http://efra-rz.com/img/og-main.jpg'