/*******************
*******************
General-styles
*******************
*******************/

.home-blog--bak-container, .home-services--bak-container,
.home-banner--bak-container,
.home-projects--back-container{
  margin: 2em 0 4em 0;
}

.section--title{
    font-size: 3em;
  }

/*******************
*******************
Home-banner-section
*******************
*******************/
.main-header__topbar{
  background-color: #333;
  padding: .5em 0;
  }
  .main-header__topbar img{
      display: block;
      padding: .2em 0;
    }

/*******************
*******************
Home-banner-section
*******************
*******************/

.home-banner--bak-container{
  background: #650077;
  margin-top:0; /*Hereda el margintop de los estios reseteados*/
  padding:8em 0 10em;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
  position:relative;
  }
  .home-banner__img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.3;
    }
  .home-banner__data{
    position: relative;
    h1{
      font-size: 3em;
      text-align: center;
      color:#fff;
      }
    }

/*******************
*******************
Home-srvices-section
*******************
*******************/

.home-services--single-service{
  border:1px solid #dfe0e0;
  /* padding:0; */
  border-radius: .25em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  background-color: #fff;
  margin-bottom: 1em;
  }
.home-services--img{
  display: block;
  border-radius: .25em .25em 0 0;
  }
.home-services--single-service__info{
  padding: .5em;
  }

  /*******************
  *******************
  Home-blog-section
  *******************
  *******************/

.home-blog--bak-container{
  background-color: #555;
  padding: 2em 0 8em 0;
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
  position: relative;
  }
.home-main-blog-card{
  background-color: #fff;
  }
  .home-main-blog-card img{
    display: block
    }

/*******************
*******************
Home-projects-section
*******************
*******************/

.home-projects--single-project{
  border:1px solid #dfe0e0;
  border-radius: .25em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  background-color: #fff;
  margin-bottom: 2em;
}

/*******************
*******************
Home-footer-section
*******************
*******************/
.main-footer--bak-container{
  background-color: #333;
  color:#fff;
  h1, h2{
    color:#fff;
    }
  }
  .main-footer--bak-container a{
    color:#fff;
    }
.footer-bottom{
  background-color: #222;
  padding: 1em 0;
}
.footer-bottom p{
  margin: 0;
  text-align: center;
  font-size: .9em;
  color: #999;
}
