extends templates/main-template.pug
//-Variables
append config
  -pageTitle = 'Inicio'
  -pageDescription = 'Efra-Rz Programador web independiente en Mty.N.L.-MX'
//- HEADER MENU Y BANNER
//- block inicio
  li: a(href='/') Inicio

//- CONTENIDO
//- block main
